@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

body {
  font-family: "Inter", system-ui, sans-serif;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100vh;
}

.card{
    width: 450px;
    height: 300px;
    cursor: pointer;
}

.card-content{
    position: relative;
    width: 450px;
    height: 300px;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    background-color: whitesmoke;
}

.card.flipped .card-content {
  transform: rotateY(180deg);
}

.card-text{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 12px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.5rem;
  border-radius: 12px;
}

.card-back {
  transform: rotateY(180deg);
}

.star-button {
    background: transparent;
    border: none;
    cursor: pointer;
    margin-right: 16px; /* spacing from card text */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    z-index: 10;
}

.star-button svg {
  font-size: 28px; /* adjust icon size */
  color: gray;
}

.star-button:hover svg {
  color: gold; /* hover color */
}

.button-container{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap:10px;
}