.deck-grid {
    margin-top: 50px;
    margin-left: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 150px;
}

.deck-card {
    position: relative;
    width: 300px;
    height: 250px;
    transform-style: preserve-3d;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    background-color: whitesmoke;
    transition: transform 0.2s ease;
}

.deck-card-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 12px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.deck-card:hover {
  transform: translateY(-4px);
}
